@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
}
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

nav ul li a:hover {
  color: red;
}

.det {
  margin-left: 8%;
  margin-top: 13%;
}
.det h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}
span {
  color: orange;
}

.det p {
  color: #555;
  line-height: 22px;
}
.det a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.images:hover .shape {
  bottom: 40px;
  scale: 0.5;
}
.shape {
  scale: 0.5;
}
.images:hover .me {
  left: 45%;
}
.logo {
  width: 60px;
}
.skillSection {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 80px;
  background-color: aliceblue;
}
.skillSection .subject {
  font-size: 17px;
  font-weight: thin;
  color: black;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.progress_bar {
  width: 100%;
  height: 16px;
  background-color: rgba(202, 158, 16, 0.767);
  padding: 4px 6px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #444;
  border-radius: 15px;
}
.progress_line {
  position: relative;
  width: 100%;
  height: 100%;
  background: peru;
  box-shadow: -1px -1px 2px #222222, 1px 1px 2px #111111;
  border-radius: 15px;
}
.progress_line::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0px;
  transform: translateX(-50%);
  color: darkorange;
  font-size: 17px;
}
#skillstitle {
  font-family: "fantasy", cursive, sans-serif;
  font-size: 17px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eff4fd;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
}
.wrapper {
  display: inline;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

.container.my-5 {
  margin-top: 5px;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.container.my-5 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.container.my-5 p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.container.my-5 ul {
  list-style-type: disc;
  margin-left: 20px;
}

.container.my-5 ul li {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.container.my-5 img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  flex-basis: 40%;
}

.right-content {
  flex-basis: 55%;
}
